body {
    padding-top: 70px;
    background-color:#efece3;
    }

.header {
    width:300px;
    margin:auto;
    text-align:center;
    }

.active {
    padding-right:8px;
    }
.brand {
    padding-right:4px;
    }

div.abouttext {
    width:400px;
    margin:auto;
    }

div.form-group {
    padding:12px;
    }

div.content {
    padding:12px;
    width:300px;
    margin:auto;
    }