body {
    padding-top: 70px;
    background-color:#efece3;
}
div.container {
    width:80em;
}
.header {
    margin:auto;
    text-align:center;
    }
.active {
    padding-right:8px;
    }
.brand {
    padding-right:4px;
    }
div.abouttext {
    width:400px;
    margin:auto;
    }

div.form-group {
    padding:12px;
    }

div.content {
    padding:12px;
    width:38em;
    margin:auto;

}

div.taskinline {
    padding:8px;
}
div.control-group {
    padding:12px;
}
.control-label {
    margin-right:4px;
}
div.bannerheader {
    margin-left:24px;
}
.tsummary {
    text-align:center;
    width:200px;
    margin:auto;
}
.agenda {
    width:300px;
    margin:0;
    padding:8px;
    text-align:center;
    background-image: linear-gradient(to bottom, #A39B9B 100%);
}

.todostatus {
    padding:1px;
    text-align:center;
    color:#ff5050;
}
.col-lg-3 {
    line-height:1.4em;
    font-family:"Helvetica Neue",sans-serif;

}
div.fancydate {
    margin-top:4px;
}
div.singletask {
    margin-bottom:2px;
}
.well {
    background-color:#efece3;
    border:0px;
}

pre {
    background-color:#f5f3ee;
    color:#000000;
    border-radius:6px;
    border-color:#f5f3ee;
    padding:8px;
    margin-top:8px;
    margin-bottom:8px;
}

#deletebutton {
    margin-left:35rem;
}
h3 > span {
    text-decoration:line-through;
    padding:6px;
}
div.taskinline > input {
    margin-left:1.8rem;
}
.contmd {
    /* text-align:center; */
    padding:8px;
    background-color:#f5f3ee;
    margin-top:8px;

}