body {
    padding-top: 70px;
}

div.container {
    width:80em;
}

.header {
    margin:auto;
    text-align:center;
    }

.active {
    padding-right:8px;
    }
.brand {
    padding-right:4px;
    }

div.abouttext {
    width:400px;
    margin:auto;
    }

div.form-group {
    padding:12px;
    }

div.content {
    padding:12px;
    width:38em;
    margin:auto;

}

div.taskinline {
    padding:8px;
}
div.control-group {
    padding:12px;
}
.control-label {
    margin-right:4px;
}
.navbar-inner {
  background-color: #f8f7f3;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}
div.bannerheader {
    margin-left:24px;
}
.tsummary {
    text-align:center;
    width:200px;
    margin:auto;
}
/* .sidebar  { */
/*     position: static; */
/*     margin-top:80px; */
/*     width:114px; */
/* } */

/* sidebar-wrapper { */
/*   margin-left: -250px; */
/*   left: 250px; */
/*   width: 250px; */
/*   background: #000; */
/*   position: fixed; */
/*   height: 100%; */
/*   /\* overflow-y: auto; *\/ */
/*   /\* z-index: 1000; *\/ */
/*   /\* transition: all 0.4s ease 0s; *\/ */
/* } */

/* .sidebar-nav { */
/*   position: absolute; */
/*   top: 0; */
/*   width: 250px; */
/*   list-style: none; */
/*   margin: 0; */
/*   padding: 0; */
/* } */

/* .sidebar-nav li { */
/*   line-height: 40px; */
/*   text-indent: 20px; */
/* } */
.agenda {
    width:300px;
    margin:0;
    padding:8px;
    text-align:center;
    background-image: linear-gradient(to bottom, #A39B9B 100%);

    /* background-color:#f8f7f3; */
}

.todostatus {
    padding:1px;
    text-align:center;
    color:rgb(255,80,80)
}
/* .col-md-3 .col-md-pull-9 { */
/*     margin-top:75px; */
/* } */

.col-lg-3 {
    line-height:1.4em;
    font-family:"Helvetica Neue",sans-serif;

}
div.fancydate {
    background-color:rgb(222,211,222);
    box-shadow:0px 0.6px 0.6px 0px rgb(0,0,0);
}