{{define "about"}}
{{template "base" .}}
<div class="container">
  <div class="jumbotron">
    <h2> About days</h2>
    <br/>
    <p>Do All Your Stuff Dayplanner</p>
    <p>Implemented with Go / Appengine.</p>
    <p>Github repository: <a href="https://github.com/mswift42/go-days">mswift42/go-days</a></p>
  </div>

</div>
{{end}}
