{{define "home"}}
{{template "base" .}}
<div class="container">
<h2 class="header">Tasks</h2>
<br/>
<br/>
{{range .tasks}}
<div class="content">
    <h4 class="header">{{ .Summary}}</h4>
<div class="taskinline">
<pre>{{.Content}}</pre>
<p>{{.Scheduled}}
</p>
<form action="/edittask" method="post">
  <input type="hidden" name={{.ID}} value=""/>
  <div class="taskinline">
    <input type="submit"  value="Edit" class="btn"/>
  </div>
</form>
</div>
</div>
<br/>
{{end}}
</div>
{{end}}


